/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-dark {
  --font-weight-bold: 785;
  --font-weight-normal: 465;
  --font-weight-const: 400;
  --text-color: #00CC14;
  --background-color: #000;
  --background-gradient-color-begin: #007f0c;
  --background-gradient-color-end: #004306;
  --gradient-color: #000;
  --accent-color: #00CC14;
  --heart-color: #FF0000;
}

:root.theme-light {
  --font-weight-bold: 700;
  --font-weight-normal: 400;
  --font-weight-const: 400;
  --text-color: #000;
  --background-color: #fff;
  --background-gradient-color-begin: #E7E7E7;
  --background-gradient-color-end: #1A1A1A;
  --gradient-color: #d3d3d3;
  --accent-color: #fff;
  --heart-color: #FF0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --font-weight-bold: 800;
    --font-weight-normal: 465;
    --font-weight-const: 400;
    --text-color: #00CC14;
    --background-color: #000;
    --background-gradient-color-begin: #007f0c;
    --background-gradient-color-end: #004306;
    --gradient-color: #000;
    --accent-color: #00CC14;
    --heart-color: #FF0000;
  }
}